<title>All Use</title>
<h1>All users</h1>
<h3>
  <%= link_to "New user", new_user_path,
    class: "btn btn-medium btn-primary" %>
</h3>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 52 %>
      <%= link_to user.name ,user_path(user.id) %>
       <td><%= link_to "Skills", user_skills_path(user),
                                      class: "btn btn-small btn-primary" %></td>
    </li>
  <% end %>
</ul>
