
<h2>skill <%=@user.name%></h2>
<table >
<thear>
   <tr>
    <th>STT</th>
    <th>Skill name</th>
    <th>Skill details</th>
  </tr>
  <tbody>

  <%    @user_skills.each do |user_skill|%>
   <tr>
        <td><%= user_skill.id %></td>
        <td><%= user_skill.skill.name%>
        <td>
                <% user_skill.skill.detail_skills.each do |detail_skill|%>
                
                <%=detail_skill.name %>
            
                 <% end %>
     </td>
   </tr>
                <% end %>
      
        </tbody>
      
</table>