

      
<h1>All Skills</h1>
<ul class="user">
  <% @user_skills.each do |user_skill| %>
  <li>
    <div class="user-info">
      <h3>
        <%= user_skill.skill.name if user_skill.skill.present? %>
      </h3>
    </div>
  </li>
  <li style="list-style: none">
    <ul>
      <% user_skill.user_skill_details.each do |detail| %>
        <li><%= detail.detail_skill.name if detail.detail_skill.present? %></li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul><br/>
<%= link_to ("Back"), users_path,class: "btn btn-medium btn-primary" %>