<h1>Skills</h1>
<table border="1" >
  <% @user_skills.each do |user_skill| %>
    <tr>
      <% @aa =user_skill.user_skill_details.count %>
        <th colspan = aa >
          <%= user_skill.skill.name if user_skill.skill.present? %>
        </th>
    </tr>
  <tr>
      <% user_skill.user_skill_details.each do |f| %>
        <td><%= f.skill_detail.name if f.skill_detail.present? %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to ("Back"), users_path,class: "btn btn-medium btn-primary" %>