<h1>All Skills</h1>

<% @skills.each do |skill| %>
<div>
  <%= skill.name %>
  <ul class="user">
    <% @skill_details.each do |detail| %>
    <li>
      <div class="user-info">
        <p>
          <%= detail.name if skill.id == detail.skill.id %>
        </p>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<% end %>