<h1>All Skills</h1>
<% @skills.each do |skill| %>
  <%= skill.name %>
  <ul >
    <% @skill_details.each do |detail| %>
    <li>
        <p>
          <%= detail.detail_name if skill.id == detail.skill.id %>
        </p>
    </li>
    <% end %>
  </ul>
<% end %>